* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-content {
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.save-btn {
    background-color: brown;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: brown;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s, opacity 0.3s;
    overflow: hidden;
  }
  
  .sidebar .logo {
    padding: 15px;
    text-align: center;
    background-color: #444;
  }
  
  .sidebar .nav-list {
    list-style-type: none;
    padding: 20px 0;
  }
  
  .sidebar .nav-list li {
    padding: 15px 20px;
  }
  
  .sidebar .nav-list li a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .sidebar .nav-list li:hover {
    background-color: #555;
  }
  #toggle-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  #toggle-btn:hover {
    background-color: #555;
  }
